

    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

               <hr />
			                   
               <a routerLink="/">
			      <img width="50px" [src]="imageSrc" [alt]="imageAlt" /> 
			   </a> 
			   <a routerLink="/">Home</a> | <a routerLink="/about">About</a> | <a routerLink="/myinfo">Per Steen Olsen</a>
			   <!--| <a routerLink="/menu">Menu</a>--> 
               
			   <hr />
			   		                 
			   
			   <router-outlet></router-outlet>
			   
			   <br />
			   
			   <!--This will display a message from the component on all pages-->
			   {{message}}
			   
			   <br />
                            
			  			   
            </div>
         </div>
     </div>
 
