
<h3 class="p-3 text-center">The results of Web API GET requests</h3>

<br />

Total @angular packages: <b>{{totalAngularPackages}}</b> at the "api.npms.io" Web API   
    
 <br /><br />


<div class="table-responsive">
	
	Try to receive the first 10 posts from the "jsonplaceholder" Web API<br /><br />
	
	 <div *ngIf="errorMessage != null">
	      <div style='color: red'>{{errorMessage}}</div>
	 </div>
	 <div *ngIf="errorMessage == null">
	 
	    <table class="table table-striped">
             <thead>
                <tr>
                   <th style="width: '20%'">Id</th>
		    	   <th style="width: '80%'">Title</th>
                </tr>
             </thead>
             <tbody>
		   
		      <tr *ngFor="let post of listOfPosts">
		          <td>{{post.id}}</td>
			      <td><a routerLink="/thepost/{{post.id}}">{{post.title}}</a></td>
		       </tr>
		    </tbody>
		 
	     </table>
	  </div>
    
</div>

            			 