
<h3 class="p-3 text-center">The results of Web API GET requests</h3>

<br />

Total @angular packages: <b>{{totalAngularPackages}}</b> at the "api.npms.io" Web API   
    
 <br /><br />


<div class="table-responsive">
	
	Receiving the first 10 posts from the "jsonplaceholder" Web API<br /><br />
	 <table class="table table-striped">
         <thead>
            <tr>
               <th style="width: '25%'">Id</th>
			   <th style="width: '75%'">Title</th>
           </tr>
          </thead>
         <tbody>
		   
		   <tr *ngFor="let post of listOfPosts">
		       <td>{{post.id}}</td>
			   <td>{{post.title}}</td>
		   </tr>
		 </tbody>
		 
	  </table>
	  
    
</div>

            			 